 <div class="card toolbar fixed-top bg-light">      
        <div class="d-flex justify-content-end">
            <div class="mr-auto p-1">
                <ol class="breadcrumb bg-light ">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Entity</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">List</li>
                </ol>
            </div>
            <div class="p-1">
                <button type="button" class="toolbar-btn btn-primary">
                   <span class="fa fa-floppy-o"></span> SAVE</button>
            </div>
            <div class="p-1">
                <button type="button" class="toolbar-btn btn-primary">
                   <span class="fa fa-trash-o"></span> DELETE</button>
            </div>
        </div>
    </div>