<div class="card footer fixed-bottom bg-light">
        <div class="d-flex justify-content-end">  
            <div class="mr-auto p-1">
                 <span class="badge badge-primary">Some other relevant info</span>
            </div>         
            <div class="p-1">
              <span class="badge badge-dark">Status</span>
            </div>
        </div>
    </div>