@{
    ViewData["Title"] = "Home";
}


<div class="jumbotron">
    <h1 class="display-3">Welcome to Project Stark</h1>
    <p class="lead">The goal of the project is to create a base solution to jump start any Enterprise application, using the latest techonolgy in the webstack like AngularJS, ASP.NET Core 2.x and Bootstrap v4</p>
    <hr class="my-4">
    <p>Your contributions are highly appriciated. Kindly refer to our Backlogs.xlsx and ReadMe.txt for more information</p>
    <br /><br />
    <p class="lead">
        <a class="btn btn-success btn-lg" target="_blank" href="https://github.com/maryjuano/ASP-NET-CORE/" role="button">Learn more</a>
    </p>
</div>