@page
@model IndexModel
@{
    ViewData["Title"] = "Activity Logs - PORTAL";
}

@section Styles
    {
    <link href="~/lib/handsontable v6/dist/handsontable.css" rel="stylesheet" />
    <link href="~/lib/pikaday/pikaday.css" rel="stylesheet" />
}

<div id="hot"></div>

@section Scripts {
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/pikaday/pikaday.js"></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/handsontable v6/dist/numbro/numbro.js"></script>
    <script src="~/lib/handsontable v6/dist/handsontable.js"></script>
    <script src="~/js/editable-grid_1.0.3.js"></script>
}


